.grid-container {
    font-size: 25px;
    flex-direction: column;
    justify-content: space-around;
}

.h1 {
    font-family: monospace;
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
}

.lined {
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    list-style: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1em;
    padding: 1em 0 1em 0;
    width: 98%;
    font-size: 30px;
}

a {
    color: green;
}

body {
    background-color: rgb(204, 204, 204);
    background-image: url("./spy_stock.jpg"), url("./eye_scan.jpg");
    background-size: cover;
}

div {
    color: rgba(252, 252, 252, 0.87);
    font-family: monospace;
}

#planning {
    color: green;
    font-size: 30px;
}

#task {
    font-size: 25px;
}

#objectives {
    display: flex;
    flex-direction: row;
    width: 95%;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
