{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}Classified{% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    </head>
    <body>
        <header>
            <nav>
                <div class = "items">
                    {% if user.is_authenticated %}
                        <div>
                            <a href="{% url 'show_my_tasks' %}">Objectives</a>
                        </div>
                        <div>
                            <a href="{% url 'list_projects' %}">Missions</a>
                        </div>
                        <div>
                            <a href="{% url 'logout' %}">Logout</a>
                        </div>
                    {% else %}
                        <div>
                            <a href="{% url 'login' %}">Login</a>
                        </div>
                        <div>
                            <a href="{% url 'signup' %}">Signup</a>
                        </div>
                    {% endif %}
                    </div>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
        </footer>
    </body>
</html>
