{% extends 'base.html' %}

{% block title %}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ project_details.name }}</h1>
            <p>{{ project_details.description }}</p>
            <h2>Objectives</h2>
            <p>
                <a id = "task" href = "{% url 'create_task' %}">Assign New Objective</a>
            </p>
            <table style ="text-align: justify">
                <thead>
                    <th>Name</th>
                    <th>Agent</th>
                    <th>Initiation date</th>
                    <th>Expected completion</th>
                    <th>Completion Status</th>
                </thead>
                {% if project_details.tasks.all %}
                    <tbody>
                        {% for detail in project_details.tasks.all %}
                            <tr>
                                    <td>{{ detail.name }}</td>
                                    <td> {{ detail.agent }} </td>
                                    <td>{{ detail.initiation_date }}</td>
                                    <td>{{ detail.estimated_completion }}</td>
                                    <td>{{ detail.is_completed|yesno }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <p>This mission has no objectives</p>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </main>
    {% endblock content %}
