{% extends 'base.html' %}

{% block title %}
{% endblock title %}
{% block content %}
    <main>
        <div>
            {% if user.is_superuser %}
            <h1 class = "h1">Welcome Director</h1>
            <p>
                <a id ="planning" href= "{% url 'create_project' %}">Mission Planning</a>
            </p>
            {% else %}
            <h1 class = "h1">Welcome Agent</h1>
            {% endif %}
            {% if not projects_list.all %}
                <p>You are not assigned to any missions</p>
            {% else %}
                <table class ="grid-container">
                    <thead>
                        <th style ="text-align: left">Operation</th>
                        <th style ="text-align: right">Objectives</th>
                    </thead>
                    <tbody>
                        {% for project in projects_list.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                </td>
                                <td style ="text-align: right">
                                    {{ project.tasks.all|length }}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </main>
    {% endblock content %}
